<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div class="login-container">

        <div class="login-card">

            <h1>Create Account</h1>

            <p>Create your account to manage forms</p>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <label>Username</label>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter username"
                    required
                >

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required
                >

                <button type="submit" class="login-btn">
                    Register
                </button>

            </form>

            <p>
                Already have an account?
                <a href="/login/">Login</a>
            </p>

        </div>

    </div>

</body>
</html>